
.content{ width:90%;margin:0px auto;}
#loginView .logo {width:120px;height:100px;margin:0px auto;background:url('images/blood beta.png') no-repeat ;background-size:100% 100%;margin-top:10%}

/*forgot password*/
#forgot-pwd .forgot-ftr .forgot-btn,#signup-view .signup-ftr .signup-btn {width:48%;background-color:#EEEEEE;border:1px solid #CBCAC8;color:#000;font-family:'Times New Roman', Times, serif;}
#forgot-pwd .forgot-ftr .forgot-btn:active,#signup-view .signup-ftr .signup-btn:active {color:#000}
#forgot-pwd .forgot-ftr .forgot-btnActive,#signup-view .signup-ftr .signup-btnActive {width:48%;background-color:#CD070F;border:1px solid #CBCAC8;color:#fff;font-family:'Times New Roman', Times, serif}
#forgot-pwd .forgot-ftr .forgot-btnActive:active, #signup-view .signup-frm .signup-btnActive:active {color:#fff;background-color:#CD070F !important;}
#forgot-pwd .forgot-ftr p:nth-child(2) {margin-top:26%}
.removeBtn {border: none !important;background: none !important;}
.nvbar {background-color:#CD070F !important;height:52px !important}
.settitle {color:#FFF !important;line-height: 50px;font-weight: bold;font-family:'Times New Roman', Times, serif}
.km-group-title {background-color:#E2E2E2 !important;height:40px !important;}
select {background:#FFF !important}


/***********************************Loader**************************************/
.km-loader {background:#181414 !important}
/*.km-loading {border-color: #CD070F rgba(255,255,255,0.2);box-shadow: 0 1px 0 rgba(0,0,0,0.1),0 -1px 0 rgba(0,0,0,0.1),inset 0 1px 0 rgba(0,0,0,0.1),inset 0 -1px 0 rgba(0,0,0,0.1);}
.km-loading {font-size: 1.8rem;line-height: 1em;vertical-align: middle;text-align: center;display: inline-block;position: absolute !important;top:45% !important;left: 42% !important;border-style: solid;border-width: 11px;box-shadow: -1px 0px -1px 10px #D68C8C}
*/.km-flat .km-loader>*:not(h1) {background: #CD070F !important;}
 .km-flat .km-loader:before {
    background-color:#fff !important
}